<% provide(:title, "Home") %>
<div class="center jumbotron">
    <h1>Welcome</h1>
    <h2>Welcome to notes application. You can <%= link_to "log in", '#' %> or <%= link_to "sign up", signup_path %>.</h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>