@import "bootstrap-sprockets";
@import "bootstrap";

$white: #fff;
$light-grey: #777;
$grey: #555;
$dark-grey: #222;
$state-danger-text: red;

@mixin box_sizing {
    -moz-box-sizing:
    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:
    border-box;
}

/* universal */

body {
    padding-top: 60px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;

    h1 {    
        margin-bottom: 10px;
    }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: $light-grey;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}

/* header */

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: $white;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    &:hover {
        color: $white;
        text-decoration: none;
    }
}


/* footer */

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: $light-grey;
    a {
        color: $grey;
    }
    a:hover {
        color: $dark-grey;
    }
    small {
        float: left;
    }
}

/* forms */

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
}

input {
    height: 2.5em;
}

#error_explanation {
    color: red;
    ul {
        color: red;
        margin: 0 0 30px 0;
    }
}

.field_with_errors {
    @extend .has-error;
    .form-control {
       color: $state-danger-text;
    }
}

/* Users index */

.gravatar {
    float: left;
    margin-right: 10px;
}

.gravatar_edit {
    margin-top: 15px;
}

.users {
    list-style: none;
    margin: 0;
    li {
        overflow: auto;
        padding: 10px 0;
        border-bottom: 1px solid $light-grey;
    }
}
